nav {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #4056a1;
  color: #ffffff; 
 }

 nav span {
  font-family: 'Bungee', cursive;
  font-size: 36px;
 }

 .nav-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5em;
 }

 .nav-message p {
  margin-bottom: 0px;
}

 .arrow-container {
    display: flex;
    justify-content: center;
    color: red;
 }
